<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="primaryKey" value="yourPrimaryKey" />
    <add key="secondaryKey" value="yourSecondayKey" />
    <add key="luisAppID" value="yourLuisAppID" />
    <add key="luisSubscriptionID" value="yourLuisSubsrciptionID" />
  </appSettings>
</configuration>